
/* Estilo do cabeçalho */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column; 
	margin: 0;
}

/* cabeçalho fixo */
header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 60px;
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 10px;
    z-index: 1001; 
    margin: 0.1rem;
}


nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
}

.menu {
    list-style-type: none; 
    display: flex; 
}

.menu li {
    margin: 0 1rem; 
    font-family: Inter;
    color:#FFFFFF;
    text-transform: uppercase;
}

.menu li a:hover {
    color: #E13E99; 
}

.meus-perfis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 rem;
}

.meus-perfis img{
    margin-right: 10px;
}


.logo{
    margin: 0 1rem; 
    font-family: Poppins;
    color:#FFFFFF;
    text-transform: uppercase; 
}

/* Estilo da seção principal */
.principal {
    height: 100vh; 
    background-image: url(assets/images/background-principal.png);
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-top: 0;
    margin-top: 0;
}

/* ícone do scrow */
.principal img {
    margin-top: 1rem; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 

}

.principal h1{
    margin-top: 20rem;
    margin-bottom: 0; 
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.principal h2{
    margin-top: 0;
    margin-bottom: 1rem; 
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
}

.faixa-subtitulo {
    background-color: #E13E99; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px 20px; 
    border-radius: 10px; 
    width: fit-content;
    align-items: center;
    margin: 0 auto; 
    text-align: center; 
}

.faixa-subtitulo h2 {
    margin: 0; 
}


/*Estilização da seção Sobre Mim"*/

.sobre {
    padding: 50px; /* Adiciona espaçamento interno */
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: flex-start; /* Alinha os itens ao topo verticalmente */
}


.sobre h3 {
    font-family: Poppins;
    font-size: 24px; /* Tamanho do título */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.sobre-texto-botao {
    flex: 1; /* Ajusta a largura da coluna de texto e botão */
    padding-right: 20px; /* Espaçamento à direita para separar as colunas */
}

.sobre p {
    font-family: Quicksand;
    font-size: 16px; /* Tamanho do texto */
    line-height: 1.5; /* Espaçamento entre linhas */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: justify;
}

.sobre-imagem-perfil {
    flex: 1; /* Ajusta a largura da coluna da imagem */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.imagem-perfil {
    width: 200px; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 20px; 
}



.botao-cv {
    display: inline-block; /* Torna o botão um elemento de bloco para poder ajustar a largura */
    padding: 10px 20px; /* Preenchimento interno */
    background-color: #E13E99; /* Cor de fundo do botão */
    font-family: Poppins;
    color: #ffffff; /* Cor do texto do botão */
    font-weight: 300;
    text-decoration: none; /* Remove sublinhado do texto */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Adiciona transição suave na mudança de cor */
}

.botao-cv:hover {
    background-color: #C7C8CC; /* Altera a cor de fundo ao passar o mouse por cima */
}







