
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Twinkle+Star&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column; 
	margin: 0;
}

/* cabeçalho fixo */
header {
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 60px;
    background-color: rgba(245, 157, 205, 0.5);
    border-radius: 10px;
    z-index: 1001; 
    margin: 0.1rem;
}


nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
}

.menu {
    list-style-type: none; 
    display: flex; 
}

.menu li a {
    margin: 0 1rem; 
    font-family: Inter;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.menu li a:hover {
    color: #E13E99; 
}

.meus-perfis{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 rem;
}

.meus-perfis img{
    margin-right: 10px;
}

.logo a {
    margin: 0 1rem; 
    font-family: Poppins;
    color:#FFFFFF;
    text-transform: uppercase; 
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}

.logo a:hover {
    color: #FFFFFF; 
    font-family: Twinkle Star;
    font-size: 2rem;
    text-transform: none;
}

/* Estilo da seção principal */
.principal {
    height: 100vh; 
    background-image: url(assets/images/background-principal.png);
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-top: 0;
    margin-top: 0;
}

/* ícone do scrow */
#botao-scrow {
    margin-top: 1rem; 
    position: fixed;
    bottom: 1rem; 
    right: 1rem; 
    transition: 0.3s;
}

footer:hover ~ #botao-scrow {
    -webkit-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
}

.principal h1{
    margin-top: 30%;
    margin-bottom: 0; 
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 6rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.principal h2{
    margin-top: 0;
    margin-bottom: 1rem; 
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 1.35rem;
    font-weight: 300;
}

.faixa-subtitulo {
    background-color: #E13E99; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
    padding: 0.625rem 1.25rem; 
    border-radius: 0.625rem; 
    width: fit-content;
    align-items: center;
    margin: 0 auto; 
    text-align: center; 
}

.faixa-subtitulo h2 {
    margin: 0; 
}

/*Estilização da seção Sobre Mim"*/

.sobre {
    height: 100vh;
    padding: 80px; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
}

.sobre h3 {
    font-family: Poppins;
    font-size: 4.5rem; 
    margin-bottom: 20px; 
}

.sobre .faixa-colorida {
    width: 100px;
    height: 8px; 
    background-color: #E13E99; 
    border: none; 
    border-radius: 10px;
    margin-bottom: 40px;
}

.sobre-texto-botao {
    flex: 2; 
    padding-right: 20px; 
}

.sobre p {
    font-family: Quicksand;
    font-size: 1.5vw;
    line-height: 1.5; 
    margin-bottom: 3.5rem; 
    text-align: justify;
}

.sobre-imagem-perfil {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.imagem-perfil {
    width: 30vw; 
    height: auto; 
    margin-bottom: 20px; 
    transition: all 1s;
    cursor: pointer;
}

.imagem-perfil:hover {
    -webkit-transform: rotateZ(12deg);
    transform: rotateZ(12deg);
    -webkit-filter: drop-shadow(0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4));
    filter: drop-shadow(0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.4));
}

.botao-cv {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #E13E99; 
    font-family: Poppins;
    font-size: 1.4rem;
    color: #FFFFFF; 
    font-weight: 300;
    text-decoration: none; 
    border-radius: 10px; 
    transition: background-color 0.3s; 
}

.botao-cv:hover {
    background-color: #E68FBF;
}

/* Estilização da seção Skills */

.skills {
    height: 100vh;
    padding: 80px; 
    text-align: center;
    background-color: #E13E99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h3 {
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 4.5rem; 
    margin-bottom: 20px; 
}

.skills .faixa-colorida {
    width: 100px;
    height: 8px; 
    background-color: #E68FBF; 
    border: none; 
    border-radius: 10px;
    margin-bottom: 40px;
    display: inline-block;
}

.containers-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.soft-skills,
.digitais-skills {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 10px; 
    padding: 20px; 
    width: 45vw; 
    height: 60vh;
}

.skills h4 {
    font-family: Poppins;
    color:#E68FBF;
    font-size: 40px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

/* estilização dos gráficos soft-skills */
.graficos-soft-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
}

.graficos-soft-skills > div {
    flex: 1 1 40%; 
    max-width: 500rem; 
    margin: 0.2rem;
}

.graficos-soft-skills img {
    max-width: 100%; 
}

/* estilização dos gráficos digitais-skills */
.graficos-digitais-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem; 
}

.graficos-digitais-skills > div {
    flex: 1 1 40%; 
    max-width: 8vw; 
}

.graficos-digitais-skills img {
    max-width: 100%; 
}

/* estilização da seção projetos */

.projetos {
    padding: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos h3 {
    font-family: Poppins;
    font-size: 4.5rem;
    margin-bottom: 20px;
}

.projetos .faixa-colorida {
    width: 100px;
    height: 8px; 
    background-color: #E13E99; 
    border: none; 
    border-radius: 10px;
    margin: 0 auto 40px auto;
}

#titulo-seção-projeto{
    align-items: center;
}

.containers-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cartao-projeto {
    width: 45%;
    background-color: #F3F3F3;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}

.cartao-projeto h4 {
    font-family: Poppins;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.imagem-projeto {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

.imagem-projeto:hover {
    transform: scale(1.1);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
 }

.descricao-projeto {
    font-family: Quicksand;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 10px;
}

.etiqueta-tecnologia-projeto {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.etiqueta {
    display: inline-block;
    font-family: Inter;
    font-size: 1.125rem;
    background-color: #F3F3F3;
    color: #E13E99;
    border: 1px solid #E13E99;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 1rem;
    max-width: max-content; 
}

.cartao-projeto a {
    display: inline-block;
    width: 48%;
    padding: 10px 0;
    text-align: center;
    background-color: #E13E99;
    color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 2%;
}

.cartao-projeto a:last-child {
    margin-right: 0;
}

.botao-projeto-visualizar, .botao-projeto-github {
    display: inline-block;
    background-color: #E13E99;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none; 
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 10px; 
    transition: background-color 0.3s; 
}

.botao-projeto-visualizar:hover, .botao-projeto-github:hover {
    background-color: #E68FBF;
}

.botao-projeto-visualizar i, .botao-projeto-github i {
    margin-right: 5px; 
    color: #FFFFFF;
}

/*estilização da seção de contatos*/
.contatos {
    background-color: #E13E99;
    height: 80vh;
    padding: 80px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.contatos-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contatos h3 {
    font-family: Poppins;
    font-size: 5rem; 
    color: #FFFFFF;
    margin-bottom: 20px; 
    text-align: center;
}

#estrela-contatos-titulo {
    color: #FFFFFF;
    font-size: 24px; 
} 

.contatos-container-tag {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0 0 0 5rem;
}

.contatos-container-tag p {
    font-family: Quicksand;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 1.5; 
    margin: 0 0 40px; 
}

.tag {
    font-family: Quicksand;
    font-size: 26px;
    text-transform: uppercase;
    background-color: #E13E99;
    color: #ffcde8;
    border: 2px solid #E68FBF;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px;
    max-width: max-content; 
    white-space: nowrap;
    transition-duration: 0.3s;
}

.tag:hover{
    background-color: #ffcde8;
    color: #E13E99;
    border: 2px solid #ffcde8;
}

/* estilização do footer */

footer {
    background-color: #E13E99;
    height: 20vh;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr.faixa-separacao {
    width: 50%;
    border: none;
    height: 2px;
    background-color: #E68FBF;
    border-radius: 5px;
}

.logo-footer {
    font-family: Twinkle Star;
    font-size: 2rem;
    color: #FFFFFF;
    margin-left: 15px; 
}

.icones-contatos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones-contatos-footer a {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 0 10px; 
}

.credits-footer {
    font-family: Inter;
    text-align: right;
    color: #FFFFFF;
    margin-right: 65px;
    margin-bottom: 20px;
}

.footer-email {
    margin-bottom: 5px;
}

.footer-copy {
    margin: 0;
    font-size: 0.8rem;
    color: #E68FBF;
}











